@model Movie

<h1>Edit the movie #@Model.Id</h1>
<form method="post">
	<label asp-for="Title">Title</label>
	<input asp-for="Title" type="text" /><br />
	<label asp-for="Year">Year</label>
	<input asp-for="Year" type="number" /><br />
	<label asp-for="Ratting">Year</label>
	<input asp-for="Ratting" type="number" /><br />
	<input type="submit" value="Save" />
</form>

