@model Movie

<h1>Edit the movie #@Model.Id</h1>
<form method="post">
	<label asp-for="Title">Title</label>
	<input asp-for="Title" type="text" /><br />
	<label asp-for="Year">Year</label>
	<input asp-for="Year" type="number" /><br />
	<label asp-for="ReleaseDate">ReleaseDate</label>
	<input asp-for="ReleaseDate" type="datetime" value="@Model.ReleaseDate?.ToString("d")" /><br />
	<label asp-for="Ratting">Rating</label>
	<input asp-for="Ratting" type="number" /><br />
	<select asp-for="GenreId">
		@foreach (var g in ViewBag.Genres)
		{
			<option value="@g.Id">@g.Name</option>
		}
	</select><br />
	<input type="submit" value="Save" />
</form>

